.container {
  .colorYellow {
    color: #ffc61a;
  }
  background: #1f1f1f;
  color: #cccccc;
  .top {
    display: grid;
    padding: 100px 30px;

    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-width: 1344px;
    p {
      line-height: 1.7em;
      font-size: 14px;
      margin: 0 0 60px;
    }
    & > div {
      h4 {
        color: #ffc61a;
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Fira Sans Condensed", sans-serif;
      }
    }

    .column1 {
      margin-right: 30px;
      margin-bottom: 30px;
    }

    .column2 {
      margin-bottom: 30px;
      .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 30px;

        & > div {
          display: flex;
          align-items: center;
          padding: 5px 0;
          border-bottom: 1px dashed #cccccc;
          margin-right: 30px;
          .chevronIcon {
            color: #ffc61a;
            font-size: 20px;
          }
        }
      }
    }
    .column3 {
      & > div {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 13px;

        .icon {
          font-size: 16px;

          margin-right: 10px;
          color: #ffc61a;
        }
      }
    }
  }

  .bottom {
    background: #000;
    overflow: hidden;
    font-size: 14px;
    color: #868686;
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1344px;
      margin: 0 auto;
    }
    .image {
      transition: all 300ms ease;
      transform: translateY(40px);
      &:hover {
        transform: translateY(10px);
      }
    }
  }
}

@media only screen and (max-width: 748px) {
  .container {
    .top {
      padding: 30px 20px;
      .column1 {
        margin-bottom: 30px;
      }
      .column2 {
        display: none;
      }
      & > div {
        h4 {
          margin-bottom: 20px;
        }
      }
      p {
        margin: 0 0 20px;
      }
    }
    .bottom {
      padding: 40px 20px;
      .image {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    .top {
      grid-template-columns: 1fr;
    }
  }
}
