.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Fira Sans Condensed", sans-serif;
    margin-bottom: 30px;
  }

  .bottom {
    .info {
      text-align: center;
      margin-bottom: 20px;
    }
    form {
      border-radius: 8px;
      background-clip: padding-box;
      max-width: 570px;
      margin: 0 auto;
      padding: 45px 30px 30px;
      background-color: #ffc61a;

      .form {
        .row {
          display: grid;
          grid-gap: 5px;
          grid-template-columns: 1fr 1fr;
          margin-bottom: 30px;

          .inputContainer {
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 5px;
            margin: 5px;
            input {
              border-radius: 5px;
              border: none;
              flex-grow: 11;
              padding: 20px 18px;
              &:focus {
                outline: none;
              }
              &::placeholder {
                font-size: 16px;
                font-weight: 400;
              }
            }
            .formIcon {
              flex-grow: 1;
              color: #cccccc;
            }
          }
        }
      }
    }
    .buttonContainer {
      text-align: center;
      .submit {
        text-transform: uppercase;
        font-size: 18px;
        padding: 17px 60px;
        background-color: #1f1f1f;
        color: #fff;
        border: none;
        border-radius: 30px;
        font-family: inherit;
        font-weight: 700;
      }
    }
  }
}

.fullWidth {
  max-width: 100% !important;
  display: block;
  border-radius: 0 !important;

  .bottom {
    form {
      .form {
        .row {
          grid-template-columns: repeat(4, 25%);
        }
      }
    }
    .buttonContainer {
      .submit {
        background-color: #9f340a;
      }
    }
  }
}

@media only screen and (max-width: 748px) {
  .container {
    .bottom {
      form {
        .tripType {
          flex-wrap: wrap;
          span {
            margin: 0;
          }
        }

        .form {
          .row {
            grid-template-columns: 100% !important;
            margin-bottom: 0;
            grid-gap: 0;

            .inputContainer {
              margin: 10px 0;
            }
          }
        }
      }
      .buttonContainer {
        .submit {
          margin: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .fullWidth {
    .bottom {
      form {
        .form {
          .row {
            grid-template-columns: repeat(2, 50%);
          }
        }
      }
    }
  }
}
