.container {
  position: relative;
  height: 80vh;
  background-image: url(https://images.unsplash.com/photo-1501799668029-f7be2fcfc261?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 90%;

  .heroHeader {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    h4 {
      color: #f5f5f5;
      font-size: 24px;
      font-weight: 500;
    }
    .phone {
      font-family: "Fira Sans Condensed", sans-serif;
      font-size: 60px;
      margin: 10px 0 50px 0;
      color: #ffc61a;
      line-height: 1em;
      font-weight: 700;
    }
  }

  .largeImage {
    width: 700px;
    height: 440px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -150px;
    margin: 0 auto;
    animation-name: grow;
    animation-duration: 1s;
  }
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 800px) {
  .container {
    .heroHeader {
    }

    .largeImage {
      display: none;
    }
  }
}
