.container {
  margin: 50px auto;
  max-width: 1000px;

  flex: 9;

  .postCards {
    border-bottom: 1px groove rgb(202, 187, 187, 0.2);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    justify-items: center;
    li.postCard {
      list-style-type: none;
      margin: 15px;
      a.image {
        img {
          border-radius: 5px;
        }
      }
      div.info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        color: #868686;
        border-bottom: 1px dotted #868686;
        .icon {
          color: #ffc61a;
          font-size: 16px;
          margin-right: 5px;
        }
        .date {
          display: flex;
          align-items: center;
          text-transform: capitalize;
        }
        .likesComments {
          display: flex;
          align-items: center;
          .comments {
            display: flex;
            margin-left: 10px;
            padding: 15px 0;
            span {
              display: flex;
              align-items: center;
            }
          }
          .likes {
            display: flex;
            span {
              display: flex;
              align-items: center;
            }
          }
        }
      }
      div.content {
        h3.title {
          font-weight: 700;
          font-size: 18px;
          margin: 20px 0;
          text-transform: uppercase;
          cursor: pointer;
        }
        p.description {
          font-size: 14px;
          position: relative;
          line-height: 1.5em;
          max-height: 6em;
          height: 94px;
          overflow: hidden;
          margin-bottom: 10px;
        }
        button.btnReadMore {
          color: #1f1f1f;
          background-color: #ffc61a;
          font-size: 16px;
          line-height: 1.9em;
          border-radius: 30px;
          transition: all 0.3s ease;
          padding: 2px 40px 4px;
          font-weight: 700;
          margin-bottom: 25px;
          text-transform: lowercase;
          border: none;
          display: inline-block;
          text-align: center;
          vertical-align: center;
          touch-action: manipulation;
          cursor: pointer;
          white-space: nowrap;
          user-select: none;
          text-transform: capitalize;
          &:hover {
            background-color: #1f1f1f;
            color: #ffc61a;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 900px;
    .postCards {
    }
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    max-width: 700px;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    max-width: 550px;
    .postCards {
      grid-template-columns: 100%;
    }
  }
}
