.container {
  .main {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    .postSection {
      flex: 9;
      margin: 65px 0;
    }
    .blogSidebar {
      flex: 3;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .container {
    .main {
      flex-direction: column;
    }
  }
}
