.socialLinks {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  & > svg:hover {
    color: #fff;
  }
}
.socialLinks2 {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > svg:hover {
    color: #fff;
  }
}

@media only screen and (max-width: 1200px) {
  .socialLinks {
    display: none !important;
  }
}
