.container {
  .testimonialList {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    max-width: 1200px;
    margin: 50px auto;
    .testimonial {
      position: relative;
      background-color: #fff;
      padding: 35px 35px 120px;
      text-align: center;
      margin: 0 20px 60px 20px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      .comment {
        color: #1f1f1f;
        font-style: italic;
        font-size: 14px;
      }
      .quote {
        position: absolute;
        bottom: 5px;
        right: 0;
        left: 0;
        margin: 30px 0 15px;

        .author {
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 10px;
        }
        .avatar {
          position: absolute;
          right: 0;
          left: 0;
          margin: 0 auto;

          img {
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    .testimonialList {
      grid-template-columns: 50% 50%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    .testimonialList {
      max-width: 800px;
      padding: 0 10px;
      grid-template-columns: 100%;
    }
  }
}
