.yellow {
  color: #ffc61a;
  margin: 60px 0 20px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  font-family: "Fira Sans Condensed", sans-serif;
}

.h1 {
  margin-bottom: 30px !important;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  color: #1f1f1f;
  text-align: center;
}
.xSmall {
  font-size: 14px;
}
.small {
  font-size: 18px !important;
}

.medium {
  font-size: 24px !important;
}

.large {
  font-size: 30px !important;
}

.xLarge {
  font-size: 48px !important;
}
